<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>AI 처리 페이지</title>
    <link
      rel="icon"
      href="{{ url_for('static', filename='favicon.ico') }}"
      type="image/x-icon"
    />

    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <!-- Navigation Bar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="{{ url_for('home') }}">my-style</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
          {% for category in categories %}
          <li class="nav-item">
            <a class="nav-link" href="#">{{ category }}</a>
          </li>
          {% endfor %}
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('home') }}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('signup') }}">Sign Up</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('login') }}">Login</a>
          </li>
        </ul>
      </div>
    </nav>

    <div class="container text-center mb-5 py-5">
      <h5 class="mt-5">당신만의 디자인을 선사해보세요.</h5>

      <!-- 이미지 선택을 위한 파일 입력란 -->
      <!--input type="file" id="imageInput" accept="image/*" class="mt-3" /-->

      <!-- 예측 결과를 표시할 곳 -->
      <div class="prediction-container" id="predictionResult">
        <!-- 여기에 초기 이미지가 표시 -->
      </div>

      <!-- 이미지 예측을 시작하는 버튼 -->
      <button class="btn btn-primary mt-3" onclick="predictImage()">
        이미지 예측
      </button>
    </div>

    <!-- Bootstrap Popper.js -->
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>

    <script>
      // 페이지 로딩 시 초기 이미지를 표시
      window.addEventListener('DOMContentLoaded', function () {
        displayInitialImage();
      });

      function displayInitialImage() {
        // 초기 이미지의 URL
        var initialImageUrl =
          '{{ url_for("static", filename="images/2024SS_sweat_shirts_product_S3892092705_St70_G7.5.jpeg") }}';

        // 예측 결과를 표시할 요소
        var predictionResultElement =
          document.getElementById('predictionResult');

        // 초기 이미지를 표시
        predictionResultElement.innerHTML = `
                <img src="${initialImageUrl}" alt="초기 이미지" class="img-fluid" style="max-height: 300px;" />
            `;
      }

      function predictImage() {
        // 예측 결과를 표시할 요소
        var predictionResultElement =
          document.getElementById('predictionResult');

        // 이미지 로딩 중 표시할 로딩 메시지
        predictionResultElement.innerHTML =
          '<p class="text-muted mt-3">이미지 로딩 중...</p>';

        // 파일 입력 요소
        var imageFileInput = document.getElementById('imageInput');

        // 파일이 선택되었는지 확인
        if (imageFileInput.files.length > 0) {
          // FormData 생성하고 선택한 파일을 추가
          var formData = new FormData();
          formData.append('image', imageFileInput.files[0]);

          // Flask 뷰로 예측을 위한 Fetch 수행
          fetch('/predict-image/', {
            method: 'POST',
            body: formData,
          })
            .then((response) => {
              if (!response.ok) {
                throw new Error('이미지 로드에 실패했습니다.');
              }
              return response.json();
            })
            .then((data) => {
              // 예측 결과를 predictionResult div의 내용으로 업데이트
              predictionResultElement.innerHTML = `
                            <p class="mt-3">예측된 클래스: ${data.class}</p>
                            <img src="${data.image_url}" alt="예측된 이미지" class="img-fluid" />
                        `;
            })
            .catch((error) => {
              // 에러 메시지 표시
              predictionResultElement.innerHTML = `<p class="text-danger mt-3">${error.message}</p>`;
              console.error('에러:', error);
            });
        } else {
          alert('이미지를 선택하세요.');
        }
      }
    </script>
  </body>
</html>
